name: ci

on:
  push:
    branches: [ main, master ]
  pull_request:

jobs:
  build-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '8.0.404'
      - run: dotnet --info
      - name: Restore dependencies
        run: dotnet restore IOC.sln
      - name: Build solution
        run: dotnet build IOC.sln -c Release --no-restore
      - name: Run tests
        continue-on-error: true
        run: dotnet test IOC.sln -c Release --no-build --logger "trx;LogFileName=test-results.trx" --verbosity normal
