name: ci

on:
  push:
    branches: [ main, master ]
  pull_request:

jobs:
  build-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '9.0.305'
      - run: dotnet --info
      - run: dotnet restore IOC.sln
      - run: dotnet build IOC.sln -c Release --no-restore
      - run: dotnet test IOC.sln -c Release --no-build --logger trx
